.home-main-logo {
    width: 100%;
    height: 300px; /* stała wysokość banera */

}

.home-games-ps5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.home-games-ps5 img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.home-games-ps5 img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}









/* Kontener sekcji */
.home-recommended {
    margin: 40px 20px;
}

/* Nagłówek sekcji */
.home-recommended h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* Kontener dla gier */
.recommended-games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Pojedyncza karta gry */
.game-card {
    width: 200px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Hover efekt dla kart */
.game-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* Obrazek gry */
.game-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

/* Informacje pod obrazkiem */
.game-info {
    padding: 10px;
}

/* Tytuł gry */
.game-info h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
}

/* Region */
.game-info .region {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

/* Stara cena i rabat */
.game-info .price {
    font-size: 14px;
    margin-bottom: 5px;
}

.game-info .price .old-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 5px;
}

.game-info .price .discount {
    color: #e53935;
    font-weight: bold;
}

/* Cena końcowa */
.game-info .final-price {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}