.search-container {
    display: flex;
    gap: 20px;
    margin: 20px;
    font-family: Arial, sans-serif;
}

.search-results {
    flex: 1;
}

.results-topbar {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 550px;
    justify-content: flex-start;
    gap: 20px;
}

.sort-wrapper {
    position: relative;
    display: inline-block;
    width: 180px;
    margin-left: 500px;
}

.sort-wrapper select {
    width: 100%;
    padding: 6px 30px 6px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 14px;
    background-color: #fff;
    cursor: pointer;
}

.sort-wrapper::after {
    content: "▼";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333;
    font-size: 12px;
}

.games-container {
    margin-top: 60px;
}
