@model KeyHub.Market.Models.RegisterViewModel
@{
    Layout = "_HomeLayout";
}
@* todo zamien ten login class na register co ponizej jest *@
<div class="login-page">
    <div class="login-box">
        <h2 class="login-title">Create a KeyHub Account</h2>
        
        <form asp-action="Register" asp-controller="Auth" method="post" class="login-form">
            @*todo upewnij sie czy to nizej wymagane*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="UserName" class="form-control" placeholder="Username"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <input type="submit" value="Register" class="btn btn-success w-100 p-2" />
        </form>

        <div class="login-footer">
            <span>Already have an account?</span>
            <a href="/auth/login">Login</a>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}