.featured-title {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    background-color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
    letter-spacing: 1px;
    position: relative;
    animation: gradientMove 5s ease infinite;
}

.featured-title::after {
    content: "";
    display: block;
    width: 50%;
    max-width: 250px;
    height: 4px;
    background: #00f2fe;
    margin: 10px auto 0;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.featured-section {
    margin: 13px 20px;
}

.featured-games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
