<footer class="main-footer">
    <div class="footer-wrapper">
        <div class="footer-section-left">
            <h3>KeyHub</h3>
            <p>© 2025 KeyHub. All rights reserved.</p>
        </div>

        <div class="footer-section-center">
            <ul>
                <li><a asp-controller="" asp-action="">About Us</a></li>
                <li><a asp-controller="" asp-action="">Contact</a></li>
                <li><a asp-controller="" asp-action="">Terms of Service</a></li>
                <li><a asp-controller="" asp-action="">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="footer-section-right">
            <span>Follow Us</span>
            <div class="footer-socials">
                <a asp-controller="" asp-action=""><i class="fab fa-facebook-f"></i></a>
                <a asp-controller="" asp-action=""><i class="fab fa-twitter"></i></a>
                <a asp-controller="" asp-action=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>