<header class="header-component">
    <nav class="header-nav">
        <div class="header-nav-left">
            <a href="/" class="header-logo-link">
                <img src="~/images/keyHub-logo.png" alt="KeyHub Logo" class="header-logo">
                <h1 class="header-title">KeyHub</h1>
            </a>
        </div>

        <div class="header-nav-center">
            <form method="get" action="/search">
                <input 
                    type="text" 
                    name="title" 
                    placeholder="Search for a game..." 
                    class="header-search" 
                    value="@ViewBag.SearchTitle" />
                <button type="submit">Search</button>
            </form>
        </div>

        <div class="header-nav-right">
            <div class="header-genre-dropdown">
                <span>Genre ▼</span>
                @* todo dynamiczna z bazy danych *@
                <ul class="header-genre-list"> 
                    <li>Action</li>
                    <li>Adventure</li>
                    <li>RPG</li>
                    <li>Strategy</li>
                    <li>Simulation</li>
                    <li>Sports</li>
                </ul>
            </div>

            @if (true) {
                <a href="/lLogin" class="header-link">Login</a>
                <a href="/register" class="header-link">Register</a>
            }
            else {
                <a href="/Cart" class="header-cart-icon" title="Your Cart">
                    <i class="fas fa-shopping-cart"></i>
                </a>
                
                <a href="/Account/Logout" class="header-link">Logout</a>
            }
        </div>
    </nav>
</header>