<header>
    <nav>
        <div class="nav-left">
            <a href="/">
                <img src="~/images/keyHub-logo.png" alt="KeyHub Logo" class="logo">
                <h1>KeyHub</h1>
            </a>
        </div>

        <div class="nav-center">
            <input type="text" placeholder="Search for a game..." />
        </div>

        <div class="nav-right">
            <div class="genre-dropdown">
                <span>Genres ▼</span>
                @* todo dynamiczna z bazy danych *@
                <ul class="genre-list"> 
                    <li>Action</li>
                    <li>Adventure</li>
                    <li>RPG</li>
                    <li>Strategy</li>
                    <li>Simulation</li>
                    <li>Sports</li>
                </ul>
            </div>

            @if (false) {
                <a href="/Account/Login">Login</a>
                <a href="/Account/Register">Register</a>
            }
            else {
                <a href="/Cart" class="cart-icon" title="Your Cart">
                    <i class="fas fa-shopping-cart"></i>
                </a>
                
                <a href="/Account/Logout">Logout</a>
            }
        </div>
    </nav>
</header>