@using KeyHub.Market.Models.ViewModels


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] KeyHub</title>
    <link rel="stylesheet" href="~/css/home/home.css" />
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="~/css/shared/footer.css" />
    <link rel="stylesheet" href="~/css/gameSearch/searchedGames.css" />
    <link rel="stylesheet" href="~/css/purchaseHistory/purchaseHistory.css" />
    <link rel="stylesheet" href="~/css/shared/pagination.css" />
    <link rel="stylesheet" href="~/css/shared/gameOverview.css" />
    <link rel="stylesheet" href="~/css/shared/addGame.css" />
    <link rel="stylesheet" href="~/css/auth/login.css" />
    <link rel="stylesheet" href="~/css/auth/register.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>
<body class="@(ViewData["Context"]?.ToString())">
@await RenderSectionAsync("Scripts", required: false)

@await Html.PartialAsync("_Header")  

<main class="@(ViewData["Context"] != null && ViewData["Context"]!.Equals(ViewContextTypeModel.Home) ? "home" : 
             ViewData["Context"] != null && ViewData["Context"]!.Equals(ViewContextTypeModel.Search) ? "search" : "")">
    @RenderBody()
</main>

@await Html.PartialAsync("_Footer")
a

</body>
<style>
    body { background: linear-gradient(135deg, #14142b, #1e1e2f); }
</style>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<script src="~/js/notifications.js"></script>