 @* todo narazie Layout potem zmienic nazwew *@

 <!DOCTYPE html>
 <html>
 <head>
     <meta charset="utf-8" />
     <title>@ViewData["Title"] - MojaAplikacja</title>
 </head>
 <body>

 @await Html.PartialAsync("_Header")  

 <main>
     @RenderBody()  <!-- tutaj wstawiane są widoki -->
 </main>

 </body>
 </html>
