@model KeyHub.Market.Models.ViewModels.PaginationViewModel
{
}

<div class="pagination">
    @if (Model.TotalPages > 1)
    {
        for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.CurrentPage)
            {
                <span class="current-page">@i</span>
            }
            else
            {
                <a href="@Url.Action("SearchedGames", new {
                             page = i,
                             sortBy = Model.CurrentSort,
                             platforms = Model.SelectedPlatforms,
                             genres = Model.SelectedGenres,
                             minPrice = Model.MinPrice,
                             maxPrice = Model.MaxPrice
                         })">@i</a>
            }
        }
    }
</div>
@* //todo ogarnij  bo bład jakis*@