@model KeyHub.Market.Models.ViewModels.PaginationViewModel
@{
    string actionName;
    string controllerName;

    if (Model.context.Equals(KeyHub.Market.Enums.Context.PurchaseHistory))
    {
        actionName = "PurchaseHistory";
        controllerName = "PurchaseHistory"; 
    }
    else
    {
        actionName = "SearchedGames";
        controllerName = "GameSearch";
    }
}

<div class="page-nav">
    @if (Model.TotalPages > 1)
    {
        for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.CurrentPage)
            {
                <span class="page-active">@i</span>
            }
            else
            {
                <a href="@Url.Action(actionName, controllerName, new {
                             CurrentPage = i,
                             CurrentSort = Model.CurrentSort,
                             SelectedPlatforms = Model.SelectedPlatforms,
                             SelectedGenres = Model.SelectedGenres,
                             MinPrice = Model.MinPrice,
                             MaxPrice = Model.MaxPrice
                         })">@i</a>
            }
        }
    }
</div>