@using KeyHub.Market.Models.ViewModels
@model IEnumerable<KeyHub.Market.Models.Dto.GameDto>
@{
    Layout = "_HomeLayout";
    var pageContext = ViewContextTypeModel.Home;
}

<div class="featured-section">
    <h2 class="featured-title">Recommended for You</h2>
    <div class="featured-games">
        @foreach (var game in Model)
        {
            @await Html.PartialAsync("_GameOverview", game, new ViewDataDictionary(ViewData) { ["Context"] = pageContext })
        }
    </div>
</div>