@using KeyHub.Market.Enums
@model IEnumerable<KeyHub.Market.Models.Dto.GameDto>
@{
    Layout = "_HomeLayout";
    var pageContext = ViewContextType.Home;
}


<div class="home-recommended">
    <h2 class="recommended-title">Recommended for You</h2>
    <div class="recommended-games">
        @foreach (var game in Model)
        {
            @await Html.PartialAsync("_GameOverview", game,  new ViewDataDictionary(ViewData) { ["Context"] = pageContext })
        }
        
    </div>
</div>