@model IEnumerable<KeyHub.Market.Models.Game>
@{
    Layout = "_HomeLayout";            // wskazuje layout
}
@* todo upewnij sie czy nazwa pliku jest poprawna oraz czy z małej czy duzej litery nazwa *@

<img class="home-main-logo" src="~/images/c.png" alt="KeyHub Logo" >

<div class="home-recommended">
    <h2>Recommended for you</h2>
    <div class="recommended-games">
        @foreach (var game in Model)
        {
            @await Html.PartialAsync("_GameItem", game)
        }
        
        
    </div>
</div>