@{
    Layout = "_HomeLayout";            // wskazuje layout
}
@* todo upewnij sie czy nazwa pliku jest poprawna oraz czy z małej czy duzej litery nazwa *@

<img class="home-main-logo" src="~/images/c.png" alt="KeyHub Logo" >

<div class="home-recommended">
    <h2>Recommended for you</h2>
    <div class="recommended-games">

        <div class="game-card">
            <img src="https://m.media-amazon.com/images/I/51Exwr1J-QL._SX300_SY300_QL70_FMwebp_.jpg" alt="No Man's Sky">
            <div class="game-info">
                <h3>No Man's Sky PS5 Key</h3>
                <p class="region">Cały świat</p>
                <p class="price"><span class="old-price">274,99 zł</span> <span class="discount">-74%</span></p>
                <p class="final-price">71,61 zł</p>
            </div>
        </div>

        <div class="game-card">
            <img src="https://m.media-amazon.com/images/I/81QoNRp5+WL._SL1353_.jpg" alt="GTA San Andreas">
            <div class="game-info">
                <h3>GTA San Andreas PS5 Key</h3>
                <p class="region">Cały świat</p>
                <p class="price"><span class="old-price">99,99 zł</span> <span class="discount">-50%</span></p>
                <p class="final-price">49,99 zł</p>
            </div>
        </div>

        <div class="game-card">
            <img src="https://m.media-amazon.com/images/I/51Exwr1J-QL._SX300_SY300_QL70_FMwebp_.jpg" alt="Cyberpunk 2077">
            <div class="game-info">
                <h3>Cyberpunk 2077 PS5 Key</h3>
                <p class="region">Cały świat</p>
                <p class="price"><span class="old-price">199,99 zł</span> <span class="discount">-30%</span></p>
                <p class="final-price">139,99 zł</p>
            </div>
        </div>

        <div class="game-card">
            <img src="https://m.media-amazon.com/images/I/81QoNRp5+WL._SL1353_.jpg" alt="FIFA 23">
            <div class="game-info">
                <h3>FIFA 23 PS5 Key</h3>
                <p class="region">Cały świat</p>
                <p class="price"><span class="old-price">249,99 zł</span> <span class="discount">-20%</span></p>
                <p class="final-price">199,99 zł</p>
            </div>
        </div>

        <div class="game-card">
            <img src="https://m.media-amazon.com/images/I/51Exwr1J-QL._SX300_SY300_QL70_FMwebp_.jpg" alt="Assassin's Creed Valhalla">
            <div class="game-info">
                <h3>Assassin's Creed Valhalla PS5 Key</h3>
                <p class="region">Cały świat</p>
                <p class="price"><span class="old-price">299,99 zł</span> <span class="discount">-25%</span></p>
                <p class="final-price">224,99 zł</p>
            </div>
        </div>

    </div>
</div>